<!DOCTYPE html>
<html>
<head>
  <title>JokesterApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Jokester</h1>
<h4>A place for punny people</h4>

<h6>Existing User</h6>
<form>
Username<br>
<input type="text" name="username">
<br>
Password<br>
<input type="text" name="password">
</form>

<h6>New User?</h6>
<button type="button">Sign up!</button>

<%= yield %>

</body>
</html>
